@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori</h1>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Kategori Adı</label>

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            @*<input type="text" class="form-control" id="validationDefault01" name="Name" placeholder="" required="">*@
        </div>
      
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Kategori İçeriği</label>
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
            @*<input type="email" class="form-control" id="validationDefault02" name="Mail" placeholder="" required="">*@
        </div>
    </div>


    <button type="submit" class="btn btn-primary mb-4">Kategori Oluştur</button>

}
